@model Lista10.Models.Order
@using Lista10.Enums

@{
    ViewData["Title"] = "Order";
}
<h1>Your order</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Price")
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("Picture")
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Articles)
        {
            @if (ViewData[item.ArticleId.ToString()] != null)
            {
                ViewData["flag"] = true;


                ViewData["price"] = int.Parse(ViewData["price"].ToString()) + item.Price * int.Parse(ViewData[item.ArticleId.ToString()].ToString());

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArticleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @if (item.Picture != null)
                        {
                            <img src=@("~/upload/" + item.Picture) asp-append-version="true" width="50px" height="50px" />
                        }
                        else
                        {
                            <img src="~/image/NoImage.jpg" asp-append-version="true" width="50px" height="50px" />
                        }
                    </td>
                    <td>
                        @ViewData[item.ArticleId.ToString()]

                    </td>

                </tr>
            }
        }

    </tbody>
</table>
<p>Calkowity koszt koszyka to: @ViewData["price"]</p>
@if (ViewData["flag"].Equals(false))
{
    <br>
    <h4>Uwaga, twoje zamowienie jest puste</h4>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="PlaceOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentEnum" class="control-label"></label>
                <select asp-for="PaymentEnum" class="form-control" asp-items="Html.GetEnumSelectList<PaymentType>()">
                    <option value="">Please choose payment method</option>
                </select>
                <span asp-validation-for="PaymentEnum" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


